<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.4//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.4.dtd">  
        
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.SQLServerDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.microsoft.sqlserver.jdbc.SQLServerDriver
      </property>
      
      <property name = "hibernate.connection.url">
         jdbc:sqlserver://DESKTOP-JRK1PIS\SQLEXPRESS:50953;databaseName=master;integratedSecurity=true
      </property>
      
      <property name = "hibernate.connection.username">
         sa
      </property>
      
      <property name = "hibernate.connection.password">
         admin123
      </property>
      
       <!-- Create database schema on application startup-->
    <property name="hbm2ddl.auto">create</property>
        <!-- show the queries prepared by Hibernate-->              
    <property name="show_sql">true</property>
      
      <!-- List of XML mapping files -->
      <mapping resource = "Employee.hbm.xml"/>
      
   </session-factory>
</hibernate-configuration>